# database
DATABASE_DRIVER=postgresql+asyncpg # no edit!!!
DATABASE_USER=username
DATABASE_PASSWORD=password
DATABASE_HOST=database
DATABASE_PORT=5432
DATABASE_NAME=messenger

# rabbitmq
RABBITMQ_HOST=rabbitmq
RABBITMQ_AMQP_PORT=5672
RABBITMQ_MANAGEMENT_PORT=15672
RABBITMQ_USER=username
RABBITMQ_PASSWORD=password

# auth microservice
AUTH_PORT=8000

# names of services(or hosts of services)
MIGRATION_HOST=migration
AUTH_HOST=auth
